body {
    background: url(../img/backgorund.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-family: Helvetica;
    margin: 0px auto;
}

div#main_Container {
    width: 1200px;
    margin: auto;
    text-align: center;
}

div#main_Container img {
    height: 180px;
    width: 205px;
    border: 7px solid #ddd;
    border-style: outset;
    /*border-radius: 50%;*/
}

div#main_Container article {
    margin-top: 45px;
}
